<section class="hero">
  <div class="hero-body">
    <p class="title">New Playlsit</p>
    <p><%= link("back", to: Routes.playlist_path(@conn, :index)) %></p>
  </div>
</section>

<%= render "form.html", changeset: @playlist, route: Routes.playlist_path(@conn, :create) %>
