<section class="phx-hero">
  <h1>Videos</h1>
</section>

<section class="float-right">
  <%= link("New Video", to: Routes.video_path(@conn, :new), class: "button button-outline") %>
</section>

<section class="row">
  <ul>
    <%= for video <- @videos do %>
      <li>
        <strong><%= video.name %></strong> -
        <%= link(video.url, to: video.url) %>
      </li>
    <% end %>
  </ul>
</section>
