<section class="hero">
  <div class="hero-body">
    <p class="title">New Video</p>
    <p><%= link("back", to: Routes.video_path(@conn, :index)) %></p>
  </div>
</section>


<%= render "form.html",
  changeset: @video,
  playlists: @playlists,
  route: Routes.video_path(@conn, :create)
%>
